rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isAuthorized() {
      return request.auth != null &&
        request.auth.token.email in ['mike@snowbies.com', 'amy@snowbies.com'];
    }

    match /drives/{driveId} {
      allow read, write: if isAuthorized();
    }

    match /meta/{docId} {
      allow read, write: if isAuthorized();
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
